<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanzler Hotel</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <a href="/" class="header__logo">
                    <img src="images/logo.png" alt="logo">
                </a>
                <div class="header__menu-btn"><span></span></div>
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li class="header__menu-item active">
                        <a href="/about">
                            Об отеле
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/rooms">
                            Номера
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/contacts">
                            Контакты
                        </a>
                    </li>
                </ul>
                <a href="tel:+995593503636" class="header__btn">
                    +995 593 50 36 36
                </a>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <ul class="crumbs">
                <li class="crumbs__item">
                    <a href="/">
                        Главнaя 
                    </a>
                </li>
                <li class="crumbs__item current">
                    О нас
                </li>
            </ul>
            <h3 class="about__title big-title">
                О нас
            </h3>
            <p class="about__text">
                Пятизвездочный премиум-отель в самом сердце Батуми, на первой береговой линии
            </p>
        </div>
        <img class="about__img" src="./images/hotel-photo.png" alt="hotel photo">
    </section>

    <section class="about-info">
        <div class="container">
            <div class="about-info__inner">
                <div class="about-info__text">
                    <p>
                        Отель KANZLER расположен на берегу моря в Батуми. 
                    </p>
                    <p>
                        В распоряжении гостей ресторан, круглосуточная стойка регистрациии бесплатный Wi-Fi на всей территории. Осуществляется доставка еды и напитков в номер. 
                    </p>
                    <p>
                        Гости могут воспользоваться бесплатной частной парковкой и взять напрокат автомобиль, чтобы осмотреть окрестности.
                    </p>
                    <a href="#">
                        Sh. Khimshiashvili Street 7B, Building B, 6000 Батуми, Грузия
                    </a>
                </div>
                <div class="about-info__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1490.8778016138174!2d41.61345913320464!3d41.63941383454864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40678674635f6769%3A0xa97c2ff0415e7994!2z0J7RgtC10LvRjCBLQU5aTEVS!5e0!3m2!1sru!2skz!4v1612186427866!5m2!1sru!2skz" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="container">
            <h3 class="gallery__title big-title">
                Фотогалерея
            </h3>
            <div class="gallery__inner">
                <a href="./images/gallery-1.png" class="gallery__item">
                    <img src="./images/gallery-1.png">
                </a>
                <a href="./images/gallery-2.png" class="gallery__item">
                    <img src="./images/gallery-2.png">
                </a>
                <a href="./images/gallery-5.png" class="gallery__item">
                    <img src="./images/gallery-5.png">
                </a>
                <a href="./images/gallery-4.png" class="gallery__item">
                    <img src="./images/gallery-4.png">
                </a>
                <a href="./images/gallery-3.png" class="gallery__item">
                    <img src="./images/gallery-3.png">
                </a>
                <a href="./images/gallery-6.png" class="gallery__item">
                    <img src="./images/gallery-6.png">
                </a>
                <a href="./images/gallery-7.png" class="gallery__item">
                    <img src="./images/gallery-7.png">
                </a>
                <a href="./images/gallery-1.png" class="gallery__item">
                    <img src="./images/gallery-1.png">
                </a>
                <a href="./images/gallery-2.png" class="gallery__item">
                    <img src="./images/gallery-2.png">
                </a>
                <a href="./images/gallery-5.png" class="gallery__item">
                    <img src="./images/gallery-5.png">
                </a>
                <a href="./images/gallery-4.png" class="gallery__item">
                    <img src="./images/gallery-4.png">
                </a>
                <a href="./images/gallery-3.png" class="gallery__item">
                    <img src="./images/gallery-3.png">
                </a>
                <a href="./images/gallery-6.png" class="gallery__item">
                    <img src="./images/gallery-6.png">
                </a>
                <a href="./images/gallery-7.png" class="gallery__item">
                    <img src="./images/gallery-7.png">
                </a>
            </img>
        </div>
    </section>

    <section class="about-info">
        <div class="container">
            <div class="about-info__inner">
                <div class="about-info__text about-info__text--big">
                    <p>
                        В числе удобств номеров кондиционер, телевизор с плоским экраном и спутниковыми каналами, холодильник, чайник, душ, фен и письменный стол. 
                    </p>
                    <p>
                        В окрестностях можно заняться различными видами активного отдыха, в том числе отправиться в пеший поход. 
                    </p>
                    <p>
                        В каждом номере есть шкаф и собственная ванная комната. Ежедневно в отеле KANZLER сервируется континентальный завтрак. 
                    </p>
                    <p>
                        Расстояние до международного аэропорта Батуми составляет 5 км. Гостям предоставляется бесплатный трансфер от/до аэропорта. 
                    </p>
                    <p>
                        Мы говорим на вашем языке!
                    </p>
                </div>
                <img class="about-info__logo" src="./images/logo.png">
            </div>
            <a href="#" class="about-info__btn">
                Забронировать номер
            </a>
        </div>
    </section>

    <section class="infrastructure">
        <div class="container">
            <h3 class="infrastructure__title big-title">
                Поблизости расположены
            </h3>
            <div class="infrastructure__inner">
                <a href="#" class="infrastructure__item" style="background-image:url('./images/gallery-1.png')">
                    <div class="infrastructure__item-inner">
                        <h5 class="infrastructure__item-title">
                            Батумский аквапарк
                        </h5>
                        <p class="infrastructure__item-distance">
                            1,1 км
                        </p>
                    </div>
                </a>
                <a href="#" class="infrastructure__item" style="background-image:url('./images/gallery-2.png')">
                    <div class="infrastructure__item-inner">
                        <h5 class="infrastructure__item-title">
                            Батумский археологический музей
                        </h5>
                        <p class="infrastructure__item-distance">
                            1,4 км
                        </p>
                    </div>
                </a>
                <a href="#" class="infrastructure__item" style="background-image:url('./images/gallery-3.png')">
                    <div class="infrastructure__item-inner">
                        <h5 class="infrastructure__item-title">
                            Ресторан «Grand Grill»
                        </h5>
                        <p class="infrastructure__item-distance">
                            100 м.
                        </p>
                    </div>
                </a>
                <a href="#" class="infrastructure__item" style="background-image:url('./images/gallery-4.png')">
                    <div class="infrastructure__item-inner">
                        <h5 class="infrastructure__item-title">
                            Ресторан «Украиночка»
                        </h5>
                        <p class="infrastructure__item-distance">
                            100 м.
                        </p> 
                    </div>
                </a>
                <a href="#" class="infrastructure__item" style="background-image:url('./images/gallery-5.png')">
                    <div class="infrastructure__item-inner">
                        <h5 class="infrastructure__item-title">
                            Собор Рождества Пресвятой Богородицы
                        </h5>
                        <p class="infrastructure__item-distance">
                            2,1 км
                        </p>
                    </div>
                </a>
                <a href="#" class="infrastructure__item" style="background-image:url('./images/gallery-6.png')">
                    <div class="infrastructure__item-inner">
                        <h5 class="infrastructure__item-title">
                            Площадь Европы
                        </h5>
                        <p class="infrastructure__item-distance">
                            2,1 км
                        </p>
                    </div>
                </a>
                <a href="#" class="infrastructure__item" style="background-image:url('./images/gallery-7.png')">
                    <div class="infrastructure__item-inner">
                        <h5 class="infrastructure__item-title">
                            Статуя Медеи
                        </h5>
                        <p class="infrastructure__item-distance">
                            2,1 км
                        </p> 
                    </div>
                </a>
                <a href="#" class="infrastructure__item" style="background-image:url('./images/gallery-1.png')">
                    <div class="infrastructure__item-inner">
                        <h5 class="infrastructure__item-title">
                            Ресторан «Sunset»
                        </h5>
                        <p class="infrastructure__item-distance">
                            200 м.
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="feedback feedback--about">
        <div class="feedback__inner">
            <div class="container">
                <div class="feedback__wrapper">
                    <div class="feedback__info">
                        <h4 class="feedback__title">
                            Забронируйте номер прямо сейчас
                        </h4>
                        <p class="feedback__text feedback--about__text">
                            Выберите даты вашей поездки <br> и мы подберем самые лучшие варианты размещения!
                        </p>
                    </div>
                    <div class="feedback--about__btns">
                        <button class="feedback--about__btn btn">
                            Забронировать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__nav-inner">
                    <a href="/" class="footer__logo">
                        <img src="images/logo.png" alt="logo">
                    </a>
                    <nav class="footer__nav">
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Отель
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/about" class="footer__nav-link">
                                    Об отеле
                                </a>
                                <a href="/rooms" class="footer__nav-link">
                                    Доступные номера
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Дополнительные услуги
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Блог
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Новости и акции
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Местоположение
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Бронирование
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/contacts" class="footer__nav-link">
                                    Условия бронирования
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Отмена бронирования
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Помощь
                                </a>
                            </div>
                        </div>
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Сотрудничество
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/contacts" class="footer__nav-link">
                                    Для партнеров
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="footer__contact">
                    <h5 class="footer__nav-title">
                        Контакты
                    </h5>
                    <div class="footer__social-networks">
                        <div class="footer__social-networks-items">
                            <a href="#" class="footer__social-networks-item">
                                <img src="./images/instagram.svg" alt="icon">
                            </a>
                            <a href="#" class="footer__social-networks-item">
                                <img src="./images/facebook.svg" alt="icon">
                            </a>
                            <a href="#" class="footer__social-networks-item">
                                <img src="./images/youtube.svg" alt="icon">
                            </a>
                        </div>
                    </div>
                    <a href="tel:+995593503636" class="footer__nav-link">+995 593 50 36 36</a>
                    <a href="mailto:kanzlercommercial@gmail.com" class="footer__nav-link">kanzlercommercial@gmail.com</a>
                </div>
            </div>
            <div class="footer__copyright">
                Kanzler Hotel Batumi 2021 (c)
            </div>
        </div>
    </footer>



    <script src="js/main.min.js"></script>
</body>
</html>