<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanzler Hotel</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <a href="/" class="header__logo">
                    <img src="images/logo.png" alt="logo">
                </a>
                <div class="header__menu-btn"><span></span></div>
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/about">
                            Об отеле
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/rooms">
                            Номера
                        </a>
                    </li>
                    <li class="header__menu-item active">
                        <a href="/contacts">
                            Контакты
                        </a>
                    </li>
                </ul>
                <a href="tel:+995593503636" class="header__btn">
                    +995 593 50 36 36
                </a>
            </div>
        </div>
    </header>

    <section class="contact">
        <div class="container">
            <ul class="crumbs">
                <li class="crumbs__item">
                    <a href="/">
                        Главнaя 
                    </a>
                </li>
                <li class="crumbs__item current">
                    Наши контакты
                </li>
            </ul>
            <h3 class="contact__title big-title">
                Наши контакты
            </h3>
            <div class="contact__inner">
                <div class="contact__info">
                    <ul class="contact__list">
                        <li class="contact__list-item">
                            <img src="./images/phone.svg">
                            <a href="tel:+995593503636">+995 593 50 36 36</a>
                        </li>
                        <li class="contact__list-item">
                            <img src="./images/mail.svg">
                            <a href="mailto:kanzlercommercial@gmail.com">kanzlercommercial@gmail.com</a>
                        </li>
                        <li class="contact__list-item">
                            <img src="./images/loc.svg">
                            <a href="#">Sh. Khimshiashvili Street 7B, Building B</a>
                        </li>
                        <li class="contact__list-item">
                            <img src="./images/facebookLogo.svg">
                            <a href="#">@kanzlerhotel.batumi</a>
                        </li>
                    </ul>
                    <div class="contact__form">
                        <h4 class="contact__form-title">
                            Написать сообщение директору
                        </h4>
                        <input type="email" class="contact__mail" placeholder="Ваш e-mail">
                        <textarea class="contact__textarea" placeholder="Ваше сообщение"></textarea>
                        <button class="contact__btn">
                            Отправить
                        </button>
                    </div>
                </div>
                <div class="contact__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1490.8778016138174!2d41.61345913320464!3d41.63941383454864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40678674635f6769%3A0xa97c2ff0415e7994!2z0J7RgtC10LvRjCBLQU5aTEVS!5e0!3m2!1sru!2skz!4v1612186427866!5m2!1sru!2skz" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback">
        <div class="feedback__inner">
            <div class="container">
                <div class="feedback__wrapper">
                    <div class="feedback__info">
                        <h4 class="feedback__title">
                            Подпишитесь на рассылку
                        </h4>
                        <p class="feedback__text">
                            И получайте самые выгодные предложения первыми!
                        </p>
                    </div>
                    <div class="feedback__btns">
                        <input type="email" class="feedback__input" placeholder="Ваш e-mail">
                        <button class="feedback__btn btn">
                            Забронировать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__nav-inner">
                    <a href="/" class="footer__logo">
                        <img src="images/logo.png" alt="logo">
                    </a>
                    <nav class="footer__nav">
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Отель
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/about" class="footer__nav-link">
                                    Об отеле
                                </a>
                                <a href="/rooms" class="footer__nav-link">
                                    Доступные номера
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Дополнительные услуги
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Блог
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Новости и акции
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Местоположение
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Бронирование
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/contacts" class="footer__nav-link">
                                    Условия бронирования
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Отмена бронирования
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Помощь
                                </a>
                            </div>
                        </div>
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Сотрудничество
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/contacts" class="footer__nav-link">
                                    Для партнеров
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="footer__contact">
                    <h5 class="footer__nav-title">
                        Контакты
                    </h5>
                    <div class="footer__social-networks">
                        <div class="footer__social-networks-items">
                            <a href="#" class="footer__social-networks-item">
                                <img src="./images/instagram.svg" alt="icon">
                            </a>
                            <a href="#" class="footer__social-networks-item">
                                <img src="./images/facebook.svg" alt="icon">
                            </a>
                            <a href="#" class="footer__social-networks-item">
                                <img src="./images/youtube.svg" alt="icon">
                            </a>
                        </div>
                    </div>
                    <a href="tel:+995593503636" class="footer__nav-link">+995 593 50 36 36</a>
                    <a href="mailto:kanzlercommercial@gmail.com" class="footer__nav-link">kanzlercommercial@gmail.com</a>
                </div>
            </div>
            <div class="footer__copyright">
                Kanzler Hotel Batumi 2021 (c)
            </div>
        </div>
    </footer>



    <script src="js/main.min.js"></script>
</body>
</html>