<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanzler Hotel</title>
    <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <a href="/" class="header__logo">
                    <img src="../images/logo.png" alt="logo">
                </a>
                <div class="header__menu-btn"><span></span></div>
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/about">
                            Об отеле
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/rooms">
                            Номера
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/contacts">
                            Контакты
                        </a>
                    </li>
                </ul>
                <a href="tel:+995593503636" class="header__btn">
                    +995 593 50 36 36
                </a>
            </div>
        </div>
    </header>

    <section class="room" th:each="room : ${rooms}">
        <div class="container">
            <ul class="crumbs">
                <li class="crumbs__item">
                    <a href="/">
                        Главнaя 
                    </a>
                </li>
                <li class="crumbs__item current">
                    <a href="/rooms">
                        Доступные номера
                    </a> 
                </li>
                <li th:text="${room.title}" class="crumbs__item current" />
            </ul>
            <h3 th:text="${room.title}" class="room__title" />
            <div class="room__subtitle">
                <p th:text="${room.subtitle}" class="room__subtitle-text" />
                <div class="room__item-rating">
                    <div th:each="i: ${#numbers.sequence(1, 5)}">
                        <span th:if="${i <= room.rating}" class="active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.623" height="12.097" viewBox="0 0 12.623 12.097"><defs><style>.a{fill:#eee;}</style></defs><path class="a" d="M12.59,5.063a.67.67,0,0,0-.578-.461L8.369,4.271,6.929.9A.671.671,0,0,0,5.695.9L4.254,4.271.61,4.6A.672.672,0,0,0,.229,5.776L2.983,8.191l-.812,3.577a.67.67,0,0,0,1,.725l3.143-1.878,3.142,1.878a.671.671,0,0,0,1-.725L9.639,8.191l2.754-2.415A.671.671,0,0,0,12.59,5.063Zm0,0" transform="translate(0 -0.492)"/></svg>
                        </span>
                        <span th:if="${i > room.rating}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12.623" height="12.097" viewBox="0 0 12.623 12.097"><defs><style>.a{fill:#eee;}</style></defs><path class="a" d="M12.59,5.063a.67.67,0,0,0-.578-.461L8.369,4.271,6.929.9A.671.671,0,0,0,5.695.9L4.254,4.271.61,4.6A.672.672,0,0,0,.229,5.776L2.983,8.191l-.812,3.577a.67.67,0,0,0,1,.725l3.143-1.878,3.142,1.878a.671.671,0,0,0,1-.725L9.639,8.191l2.754-2.415A.671.671,0,0,0,12.59,5.063Zm0,0" transform="translate(0 -0.492)"/></svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="room__gallery">
                <a th:each="image : ${images}" th:href="'/img/' + ${image.id}">
                    <img th:src="'/img/' + ${image.id}">
                </a>
            </div>
            <ul class="room__included">
                <li class="room__included-item">
                    Балкон
                </li>
                <li class="room__included-item">
                    Вид на море
                </li>
                <li class="room__included-item">
                    Кондиционер
                </li>
                <li class="room__included-item">
                    Собственная ванная комната
                </li>
                <li class="room__included-item">
                    Бесплатный wi-fi
                </li>
                <li class="room__included-item">
                    Бесплатная парковка
                </li>
            </ul>
            <div th:text="${room.description}" class="room__text" />
            <div class="room__info">
                <div class="room__info-item">
                    <h5 class="room__info-title">
                        Размер номера
                    </h5>
                    <div class="room__info-content">
                        <h5 th:text="${room.size} + ' м2'" class="room__info-content-area" />
                    </div>
                </div>
                <div class="room__info-item">
                    <h5 class="room__info-title">
                        В ванной комнате
                    </h5>
                    <div class="room__info-content">
                        <ul class="room__info-content-list">
                            <li class="room__info-content-list-item">
                                Бесплатные туалетно-косметические принадлежности
                            </li>
                            <li class="room__info-content-list-item">
                                Туалет
                            </li>
                            <li class="room__info-content-list-item">
                                Ванна или душ
                            </li>
                            <li class="room__info-content-list-item">
                                Полотенца
                            </li>
                            <li class="room__info-content-list-item">
                                Фен
                            </li>
                            <li class="room__info-content-list-item">
                                Туалетная бумага
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="room__info-item">
                    <h5 class="room__info-title">
                        Услуги и удобства
                    </h5>
                    <div class="room__info-content">
                        <ul class="room__info-content-list">
                            <li class="room__info-content-list-item">
                                Белье
                            </li>
                            <li class="room__info-content-list-item">
                                Гардеробная
                            </li>
                            <li class="room__info-content-list-item">
                                Шкаф или гардероб
                            </li>
                            <li class="room__info-content-list-item">
                                Кофеварка/чайник
                            </li>
                            <li class="room__info-content-list-item">
                                Кондиционер
                            </li>
                            <li class="room__info-content-list-item">
                                Гипоаллергенный
                            </li>
                            <li class="room__info-content-list-item">
                                Звукоизоляция
                            </li>
                            <li class="room__info-content-list-item">
                                Отдельный вход
                            </li>
                            <li class="room__info-content-list-item">
                                Отопление
                            </li>
                            <li class="room__info-content-list-item">
                                Холодильник
                            </li>
                            <li class="room__info-content-list-item">
                                Деревянный или паркетный пол
                            </li>
                        </ul>
                        <ul class="room__info-content-list">
                            <li class="room__info-content-list-item">
                                Белье
                            </li>
                            <li class="room__info-content-list-item">
                                Гардеробная
                            </li>
                            <li class="room__info-content-list-item">
                                Шкаф или гардероб
                            </li>
                            <li class="room__info-content-list-item">
                                Кофеварка/чайник
                            </li>
                            <li class="room__info-content-list-item">
                                Кондиционер
                            </li>
                            <li class="room__info-content-list-item">
                                Гипоаллергенный
                            </li>
                            <li class="room__info-content-list-item">
                                Звукоизоляция
                            </li>
                            <li class="room__info-content-list-item">
                                Отдельный вход
                            </li>
                            <li class="room__info-content-list-item">
                                Отопление
                            </li>
                            <li class="room__info-content-list-item">
                                Холодильник
                            </li>
                            <li class="room__info-content-list-item">
                                Деревянный или паркетный пол
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="room__info-item">
                    <h5 class="room__info-title">
                        Курение
                    </h5>
                    <div class="room__info-content">
                        <p th:if="${room.isSmoke}">
                            Разрешено
                        </p>
                        <p th:unless="${room.isSmoke}">
                            Запрещено
                        </p>
                    </div>
                </div>
                <div class="room__info-item">
                    <h5 class="room__info-title">
                        Парковка
                    </h5>
                    <div class="room__info-content">
                        <p th:if="${room.isParking}">
                            Бесплатная частная парковка поблизости (предварительный заказ не требуется).
                        </p>
                        <p th:unless="${room.isParking}">
                            Платная парковка
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <div class="top-content">
                <div class="top-content__info">
                    <h3 class="top-content__title">
                        Дополнительные услуги
                    </h3>
                </div>
            </div>
            <div class="services__items">
                <div class="services__item">
                    <div class="services__item-inner">
                        <div class="services__item-info">
                            <img src="../images/spa.svg" alt="service icon">
                            <h4 class="services__item-title">
                                SPA
                            </h4>
                        </div>
                        <p class="services__item-text">
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста
                        </p>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-inner">
                        <div class="services__item-info">
                            <img src="../images/spa.svg" alt="service icon">
                            <h4 class="services__item-title">
                                SPA
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-inner">
                        <div class="services__item-info">
                            <img src="../images/spa.svg" alt="service icon">
                            <h4 class="services__item-title">
                                SPA
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-inner">
                        <div class="services__item-info">
                            <img src="../images/spa.svg" alt="service icon">
                            <h4 class="services__item-title">
                                SPA
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item-inner">
                        <div class="services__item-info">
                            <img src="../images/spa.svg" alt="service icon">
                            <h4 class="services__item-title">
                                SPA
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feedback">
        <div class="feedback__inner">
            <div class="container">
                <div class="feedback__wrapper">
                    <div class="feedback__info">
                        <h4 class="feedback__title">
                            Подпишитесь на рассылку
                        </h4>
                        <p class="feedback__text">
                            И получайте самые выгодные предложения первыми!
                        </p>
                    </div>
                    <div class="feedback__btns">
                        <input type="email" class="feedback__input" placeholder="Ваш e-mail">
                        <button class="feedback__btn btn">
                            Забронировать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__nav-inner">
                    <a href="/" class="footer__logo">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                    <nav class="footer__nav">
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Отель
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/about" class="footer__nav-link">
                                    Об отеле
                                </a>
                                <a href="/rooms" class="footer__nav-link">
                                    Доступные номера
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Дополнительные услуги
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Блог
                                </a>
                                <a href="/news" class="footer__nav-link">
                                    Новости и акции
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Местоположение
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Бронирование
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/contacts" class="footer__nav-link">
                                    Условия бронирования
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Отмена бронирования
                                </a>
                                <a href="/contacts" class="footer__nav-link">
                                    Помощь
                                </a>
                            </div>
                        </div>
                        <div class="footer__nav-item">
                            <h5 class="footer__nav-title">
                                Сотрудничество
                            </h5>
                            <div class="footer__nav-links">
                                <a href="/contacts" class="footer__nav-link">
                                    Для партнеров
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="footer__contact">
                    <h5 class="footer__nav-title">
                        Контакты
                    </h5>
                    <div class="footer__social-networks">
                        <div class="footer__social-networks-items">
                            <a href="#" class="footer__social-networks-item">
                                <img src="../images/instagram.svg" alt="icon">
                            </a>
                            <a href="#" class="footer__social-networks-item">
                                <img src="../images/facebook.svg" alt="icon">
                            </a>
                            <a href="#" class="footer__social-networks-item">
                                <img src="../images/youtube.svg" alt="icon">
                            </a>
                        </div>
                    </div>
                    <a href="tel:+995593503636" class="footer__nav-link">+995 593 50 36 36</a>
                    <a href="mailto:kanzlercommercial@gmail.com" class="footer__nav-link">kanzlercommercial@gmail.com</a>
                </div>
            </div>
            <div class="footer__copyright">
                Kanzler Hotel Batumi 2021 (c)
            </div>
        </div>
    </footer>



    <script src="../js/main.min.js"></script>
</body>
</html>